<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.cn.saya.laboratory.persistent.business.dao.ApiDAO">

    <!--创建接口-->
    <!-- useGeneratedKeys="true" 表示给主键设置自增长,keyProperty="id"  表示将自增长后的Id赋值给实体类中的userId字段-->
    <insert id="insertApi" useGeneratedKeys="true" keyProperty="id" parameterType="api" >
        INSERT INTO `api` (
            `name`,
            `status`,
            `descript`,
            `createtime`
        )
        VALUES
            (
                #{name},
                #{status},
                #{descript},
                NOW()
            );
    </insert>


    <!--修改接口-->
    <update id="updateApi" parameterType="api">
        UPDATE `api`
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="status != null and status != 0">
                `status` = #{status},
            </if>
            <if test="descript != null and descript != ''">
                `descript` = #{descript},
            </if>
            updatetime = now()
        </set>
        where `id` = #{id}
    </update>

    <!--删除接口-->
    <delete id="deleteApi" parameterType="api">
        delete from api where `id` = #{id}
    </delete>

    <!-- 查询一条接口详情-->
    <select id="getOneApi" parameterType="api" resultType="api">
        select
        a.`id`,a.`name`,a.`status`,a.`descript`,a.`createtime`,a.`updatetime`
        from
          api a
        <where>
            <if test = "id != null and id != 0">
                and a.`id`  = #{id}
            </if>
            <if test = "name != null and name != ''">
                and a.`name`  like concat('%',#{name},'%')
            </if>
        </where>
    </select>


    <!-- 获取指定条件接口-->
    <select id="getApiPage" parameterType="api" resultType="api">
        select
          a.`id`,a.`name`,a.`status`,a.`descript`,a.`createtime`,a.`updatetime`
        from
          api a
        <where>
            <if test = "id != null and id != 0">
                and a.`id`  = #{id}
            </if>
            <if test = "name != null and name != ''">
                and a.`name`  like concat('%',#{name},'%')
            </if>
        </where>
        order by id desc
        limit #{startLine},#{endLine}
    </select>

    <!-- 获取指定条件接口总数-->
    <select id="getApiCount" parameterType="api" resultType="java.lang.Long">
        select
          count(*)
        from
          api a
        <where>
            <if test = "id != null and id != 0">
                and a.`id`  = #{id}
            </if>
            <if test = "name != null and name != ''">
                and a.`name`  like concat('%',#{name},'%')
            </if>
        </where>
    </select>

</mapper>






