<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    
<mapper namespace="ac.cn.saya.laboratory.persistent.dao.TransactionReadDAO">

    <resultMap id="returnTransactionList" type="transactionList">
        <id column="tradeId" property="tradeId"/>
        <result column="deposited" property="deposited"/>
        <result column="source" property="source"/>
        <result column="expenditure" property="expenditure"/>
        <result column="tradeType" property="tradeType"/>
        <result column="tradeDate" property="tradeDate"/>
        <result column="currencyNumber" property="currencyNumber"/>
        <result column="transactionAmount" property="transactionAmount"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <association property="tradeTypeEntity" javaType="transactionType">
            <id column="id" property="id"/>
            <result column="transactionType" property="transactionType"/>
        </association>
    </resultMap>

    <!-- 获取交易类别表数据  -->
    <select id="selectTransactionType" resultType="transactionType">
        select * from transaction_type
    </select>

    <!--查看流水-->
    <select id="selectTransactionPage" parameterType="transactionList" resultMap="returnTransactionList">
        select
            a.tradeId,
            a.deposited,
            a.source,
            a.expenditure,
            a.tradeDate,
            a.tradeType,
            a.currencyNumber,
            a.transactionAmount,
            a.createTime,
            a.updateTime,
            b.id,
            b.transactionType
        from
            transaction_list a left join transaction_type b on a.tradeType = b.id
        <where>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and a.type = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        order by a.tradeId desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询流水总数-->
    <select id="selectTransactionCount" parameterType="transactionList" resultType="java.lang.Long">
        select
            count(*)
        from
        transaction_list a left join transaction_type b on a.tradeType = b.id
        <where>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and a.type = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>

    </select>

   <!-- 查询流水明细-->
    <select id="selectTransactionInfoPage" parameterType="transactionInfo" resultType="transactionInfo">
        select
          id,
          tradeId,
          flog,
          currencyNumber,
          currencyDetails
        from
            transaction_info a
        <where>
            <if test = "id != null and id != ''">
                and a.id  = #{id}
            </if>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "flog != null and flog != ''">
                and a.flog  = #{flog}
            </if>
        </where>
        order by a.id desc
        limit #{startLine},#{endLine}
    </select>

    <!-- 查询流水明细总数-->
    <select id="selectTransactionInfoCount" parameterType="transactionInfo" resultType="java.lang.Long">
        select
          count(*)
        from
          transaction_info a
        <where>
            <if test = "id != null and id != ''">
                and a.id  = #{id}
            </if>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "flog != null and flog != ''">
                and a.flog  = #{flog}
            </if>
        </where>
    </select>

    <!--查询详细的流水明细返回的Map-->
    <resultMap id="returnTransactionFinalList" type="transactionInfo">
        <id column="id" property="id"/>
        <result column="flog" property="flog"/>
        <result column="currencyNumber" property="currencyNumber"/>
        <result column="currencyDetails" property="currencyDetails"/>
        <association property="transactionListEntity" javaType="transactionList">
            <id column="tradeId" property="tradeId"/>
            <result column="deposited" property="deposited"/>
            <result column="source" property="source"/>
            <result column="expenditure" property="expenditure"/>
            <result column="tradeDate" property="tradeDate"/>
            <result column="currencyNumber" property="currencyNumber"/>
            <result column="transactionAmount" property="transactionAmount"/>
            <result column="createTime" property="createTime"/>
            <result column="updateTime" property="updateTime"/>
            <association property="tradeTypeEntity" javaType="transactionType">
                <id column="tradeType" property="id"/>
                <result column="transactionType" property="transactionType"/>
            </association>
        </association>
    </resultMap>

    <!--查询详细的流水明细-->
    <select id="selectTransactionFinalPage" parameterType="transactionList" resultMap="returnTransactionFinalList">
        select
            a.id,
            a.flog,
            a.currencyNumber,
            a.currencyDetails,
            b.tradeId,
            b.deposited,
            b.source,
            b.expenditure,
            b.tradeDate,
            b.currencyNumber,
            b.transactionAmount,
            b.createTime,
            b.updateTime,
            b.tradeType,
            c.transactionType
        from
            transaction_info a
            left join transaction_list b on a.tradeId = b.tradeId
            left join transaction_type c on b.tradeType = c.id
        <where>
            <if test = "source != null and source != ''">
                and b.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and b.type = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(b.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        order by b.tradeId,a.id desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询详细的流水明细总数-->
    <select id="selectTransactionFinalCount" parameterType="transactionList" resultType="java.lang.Long">
        select
          count(*)
        from
        transaction_info a
        left join transaction_list b on a.tradeId = b.tradeId
        left join transaction_type c on b.tradeType = c.id
        <where>
            <if test = "source != null and source != ''">
                and b.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and b.type = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(b.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

</mapper> 