<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    
<mapper namespace="ac.cn.saya.laboratory.persistent.financial.dao.BillDAO">

    <resultMap id="returnBillOfDayList" type="billOfDay">
        <id column="billDate" property="tradeDate"/>
        <result column="billDeposited" property="deposited"/>
        <result column="billExpenditure" property="expenditure"/>
        <result column="billCurrencyNumber" property="currencyNumber"/>
        <collection property="transactionList" ofType="transactionList">
            <id column="tradeId" property="tradeId"/>
            <result column="deposited" property="deposited"/>
            <result column="expenditure" property="expenditure"/>
            <result column="currencyNumber" property="currencyNumber"/>
            <result column="createTime" property="createTime"/>
            <association property="tradeAmountEntity" javaType="transactionAmount">
                <id column="transactionAmount" property="id"/>
                <result column="flog" property="flog"/>
                <result column="tag" property="tag"/>
            </association>
            <association property="tradeTypeEntity" javaType="transactionType">
                <id column="tradeType" property="id"/>
                <result column="transactionType" property="transactionType"/>
            </association>
        </collection>
    </resultMap>

    <!--按天分页查询账单-->
    <select id="queryBillByDay" parameterType="transactionList" resultMap="returnBillOfDayList">
        SELECT
            a.*,
            b.tradeId ,
            b.deposited ,
            b.expenditure ,
            b.currencyNumber ,
            b.transactionAmount ,
            b.createTime ,
            c.flog ,
            c.tag ,
            b.tradeType ,
            d.transactionType
        FROM
            (
                SELECT
                    e.tradeDate AS billDate ,
                    sum(e.deposited) AS billDeposited ,
                    sum(e.expenditure) AS billExpenditure ,
                    sum(e.currencyNumber) AS billCurrencyNumber
                FROM
                    transaction_list e
                <where>
                    <if test="tradeDate != null and tradeDate != ''">
                        e.tradeDate like concat(#{tradeDate},"%")
                    </if>
                    <if test = "source != null and source != ''">
                        and e.source  = #{source}
                    </if>
                    <if test="transactionAmount != null and transactionAmount != 0">
                        and e.transactionAmount = #{transactionAmount}
                    </if>
                </where>
                GROUP BY
                    e.tradeDate
            ) a
        LEFT JOIN transaction_list b ON a.billDate = b.tradeDate
        LEFT JOIN transaction_amount c ON b.transactionAmount = c.id
        LEFT JOIN transaction_type d ON b.tradeType = d.id
        <where>
            <if test="tradeDate != null and tradeDate != ''">
                b.tradeDate like concat(#{tradeDate},"%")
            </if>
            <if test = "source != null and source != ''">
                and b.source  = #{source}
            </if>
            <if test="transactionAmount != null and transactionAmount != 0">
                and b.transactionAmount = #{transactionAmount}
            </if>
        </where>
        order by a.billDate desc
    </select>

    <!--统计指定月份的总收入和支出-->
    <select id="totalBalance" parameterType="billOfDay" resultType="billOfDay">
        SELECT
            SUM(a.deposited) AS deposited ,
            SUM(a.expenditure) AS expenditure ,
            SUM(a.currencyNumber) AS currencyNumber
        FROM
            transaction_list a
        WHERE
            a.source = #{source}
            <if test="tradeDate != null and tradeDate != ''">
                and a.tradeDate like concat(#{tradeDate} , '%')
            </if>
    </select>

    <resultMap id="returnBillOfAmountList" type="billOfAmount">
        <result column="deposited" property="deposited"/>
        <result column="expenditure" property="expenditure"/>
        <result column="currencyNumber" property="currencyNumber"/>
        <association property="amountEntity" javaType="transactionAmount">
            <id column="transactionAmount" property="id"/>
            <result column="flog" property="flog"/>
            <result column="tag" property="tag"/>
        </association>
    </resultMap>

    <!--统计指定月份中各摘要的收支情况,其中支出（flag=-1）或收入（flag=1）-->
    <select id="totalBillByAmount" parameterType="billOfAmount" resultMap="returnBillOfAmountList">
        SELECT
            b.*,a.*
        FROM
            transaction_amount a
        INNER JOIN  (
            SELECT
                c.transactionAmount ,
                sum(c.deposited) AS deposited ,
                sum(c.expenditure) AS expenditure ,
                sum(c.currencyNumber) AS currencyNumber
            FROM
                transaction_list c
            WHERE
                c.source = #{source}
                <if test="tradeDate != null and tradeDate != ''">
                    and c.tradeDate like concat(#{tradeDate} , '%')
                </if>
            GROUP BY
                c.transactionAmount
        ) b ON a.id = b.transactionAmount
        <where>
            <if test = 'flag != null and flag == 1'>
                a.flog = 1
            </if>
            <if test = 'flag != null and flag == -1'>
                a.flog = 2
            </if>
        </where>
    </select>

    <resultMap id="returnBillBalanceRank" type="transactionList">
        <id column="tradeId" property="tradeId"/>
        <result column="deposited" property="deposited"/>
        <result column="expenditure" property="expenditure"/>
        <result column="currencyNumber" property="currencyNumber"/>
        <result column="tradeDate" property="tradeDate"/>
        <result column="createTime" property="createTime"/>
        <association property="tradeAmountEntity" javaType="transactionAmount">
            <id column="transactionAmount" property="id"/>
            <result column="flog" property="flog"/>
            <result column="tag" property="tag"/>
        </association>
        <association property="tradeTypeEntity" javaType="transactionType">
            <id column="tradeType" property="id"/>
            <result column="transactionType" property="transactionType"/>
        </association>
    </resultMap>

    <!-- 查询指定月份中支出（flag=-1）或收入（flag=1）的排行 -->
    <select id="queryBillBalanceRank" resultMap="returnBillBalanceRank">
        SELECT
            a.tradeId ,
            a.transactionAmount ,
            a.deposited ,
            a.expenditure ,
            a.currencyNumber ,
            #{tradeDate} as tradeDate,
            a.createTime,
            b.tag ,
            b.flog ,
            c.id,
            c.transactionType
        FROM
            transaction_list a
        LEFT JOIN transaction_amount b ON a.transactionAmount = b.id
        LEFT JOIN transaction_type c ON a.tradeType = c.id
        WHERE
            a.source = #{source}
        <if test="tradeDate != null and tradeDate != ''">
            and a.tradeDate like concat(#{tradeDate} , '%')
        </if>
        <if test = 'flag != null and flag == 1'>
            and b.flog = 1
        ORDER BY
            a.deposited DESC
        </if>
        <if test = 'flag != null and flag == -1'>
            and b.flog = 2
        ORDER BY
            a.expenditure DESC
        </if>
    </select>

    <!-- 查询指定月份中，某一摘要类型的收支数据 -->
    <select id="queryBillByAmount" parameterType="transactionList" resultMap="returnBillBalanceRank">
        SELECT
            a.tradeId ,
            a.transactionAmount ,
            a.deposited ,
            a.expenditure ,
            a.currencyNumber ,
            a.tradeDate ,
            b.tag ,
            b.flog ,
            c.id ,
            c.transactionType
        FROM
            transaction_list a
        LEFT JOIN transaction_amount b ON a.transactionAmount = b.id
        LEFT JOIN transaction_type c ON a.tradeType = c.id
        WHERE
            a.source = #{source} AND a.transactionAmount = #{transactionAmount} AND a.tradeDate LIKE concat(#{tradeDate} , '%')
        ORDER BY
        a.tradeDate DESC
    </select>

    <resultMap id="returnBillDetail" type="transactionList">
        <id column="tradeId" property="tradeId"/>
        <result column="tradeDate" property="tradeDate"/>
        <result column="source" property="source"/>
        <result column="billDeposited" property="deposited"/>
        <result column="billExpenditure" property="expenditure"/>
        <result column="billCurrencyNumber" property="currencyNumber"/>
        <association property="tradeAmountEntity" javaType="transactionAmount">
            <id column="transactionAmount" property="id"/>
            <result column="flog" property="flog"/>
            <result column="tag" property="tag"/>
        </association>
        <association property="tradeTypeEntity" javaType="transactionType">
            <id column="tradeType" property="id"/>
            <result column="transactionType" property="transactionType"/>
        </association>
        <collection property="infoList" ofType="transactionInfo">
            <id column="infoId" property="id"/>
            <result column="tradeId" property="tradeId"/>
            <result column="infoFlag" property="flog"/>
            <result column="currencyNumber" property="currencyNumber"/>
            <result column="currencyDetails" property="currencyDetails"/>
        </collection>
    </resultMap>

    <!-- 查询账单明细 -->
    <select id="queryBillDetail" parameterType="transactionList" resultMap="returnBillDetail">
            SELECT
                b.* ,
                c.tag ,
                c.flog ,
                d.transactionType ,
                e.id AS infoId ,
                e.flog AS infoFlag ,
                e.currencyNumber ,
                e.currencyDetails
            FROM
                (
                    SELECT
                        a.tradeId ,
                        a.source ,
                        a.tradeDate ,
                        a.transactionAmount ,
                        a.tradeType ,
                        a.deposited AS billDeposited ,
                        a.expenditure AS billExpenditure ,
                        a.currencyNumber AS billCurrencyNumber
                    FROM
                        transaction_list a
                    WHERE
                        a.tradeId = #{tradeId} AND a.source = #{source}
                ) b
            LEFT JOIN transaction_amount c ON b.transactionAmount = c.id
            LEFT JOIN transaction_type d ON b.tradeType = d.id
            LEFT JOIN transaction_info e ON b.tradeId = e.tradeId
    </select>

</mapper> 