<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    
<mapper namespace="ac.cn.saya.laboratory.persistent.financial.dao.BillDAO">

    <resultMap id="returnBillOfDayList" type="billOfDay">
        <id column="billDate" property="tradeDate"/>
        <result column="billDeposited" property="deposited"/>
        <result column="billExpenditure" property="expenditure"/>
        <result column="billCurrencyNumber" property="currencyNumber"/>
        <collection property="transactionList" ofType="transactionList">
            <result column="deposited" property="deposited"/>
            <result column="expenditure" property="expenditure"/>
            <result column="currencyNumber" property="currencyNumber"/>
            <association property="tradeAmountEntity" javaType="transactionAmount">
                <id column="transactionAmount" property="id"/>
                <result column="flog" property="flog"/>
                <result column="tag" property="tag"/>
            </association>
            <association property="tradeTypeEntity" javaType="transactionType">
                <id column="tradeType" property="id"/>
                <result column="transactionType" property="transactionType"/>
            </association>
        </collection>
    </resultMap>

    <!--按天分页查询账单-->
    <select id="queryBillByDay" parameterType="transactionList" resultMap="returnBillOfDayList">
        SELECT
            a.*, b.deposited ,
            b.expenditure ,
            b.currencyNumber ,
            b.transactionAmount ,
            c.flog ,
            c.tag ,
            b.tradeType ,
            d.transactionType
        FROM
            (
                SELECT
                    e.tradeDate AS billDate ,
                    sum(e.deposited) AS billDeposited ,
                    sum(e.expenditure) AS billExpenditure ,
                    sum(e.currencyNumber) AS billCurrencyNumber
                FROM
                    transaction_list e
                <where>
                    <if test="tradeDate != null and tradeDate != ''">
                        e.tradeDate like concat(#{tradeDate},"%")
                    </if>
                    <if test = "source != null and source != ''">
                        and e.source  = #{source}
                    </if>
                    <if test="transactionAmount != null and transactionAmount != 0">
                        and e.transactionAmount = #{transactionAmount}
                    </if>
                </where>
                GROUP BY
                    e.tradeDate
            ) a
        LEFT JOIN transaction_list b ON a.billDate = b.tradeDate
        LEFT JOIN transaction_amount c ON b.transactionAmount = c.id
        LEFT JOIN transaction_type d ON b.tradeType = d.id
        <where>
            <if test="tradeDate != null and tradeDate != ''">
                b.tradeDate like concat(#{tradeDate},"%")
            </if>
            <if test = "source != null and source != ''">
                and b.source  = #{source}
            </if>
            <if test="transactionAmount != null and transactionAmount != 0">
                and b.transactionAmount = #{transactionAmount}
            </if>
        </where>
        order by a.billDate desc
    </select>

</mapper> 