<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    
<mapper namespace="ac.cn.saya.laboratory.persistent.financial.dao.TransactionReadDAO">

    <resultMap id="returnTransactionList" type="transactionList">
        <id column="tradeId" property="tradeId"/>
        <result column="deposited" property="deposited"/>
        <result column="source" property="source"/>
        <result column="expenditure" property="expenditure"/>
        <result column="tradeType" property="tradeType"/>
        <result column="tradeDate" property="tradeDate"/>
        <result column="currencyNumber" property="currencyNumber"/>
        <result column="transactionAmount" property="transactionAmount"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <association property="tradeTypeEntity" javaType="transactionType">
            <id column="tradeType" property="id"/>
            <result column="transactionType" property="transactionType"/>
        </association>
        <association property="tradeAmountEntity" javaType="transactionAmount">
            <id column="transactionAmount" property="id"/>
            <result column="tag" property="tag"/>
        </association>
    </resultMap>

    <!-- 获取交易类别表数据  -->
    <select id="selectTransactionType" resultType="transactionType">
        select * from transaction_type
    </select>

    <!-- 获取交易摘要表数据  -->
    <select id="selectTransactionAmount" resultType="transactionAmount">
        select * from transaction_amount
    </select>

    <!-- 获取交易总览 -->
    <select id="selectTransactionList" parameterType="transactionList" resultType="transactionList">
          select
            a.tradeId,
            a.deposited,
            a.source,
            a.expenditure,
            a.tradeDate,
            a.tradeType,
            a.currencyNumber,
            a.transactionAmount
        from
            transaction_list a
        <where>
            <if test="tradeId != null and tradeId != ''">
                a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
        </where>
        limit 1
    </select>

    <!--查看流水-->
    <select id="selectTransactionPage" parameterType="transactionList" resultMap="returnTransactionList">
        select
            a.tradeId,
            a.deposited,
            a.source,
            a.expenditure,
            a.tradeDate,
            a.tradeType,
            a.currencyNumber,
            a.transactionAmount,
            a.createTime,
            a.updateTime,
            b.transactionType,
            c.tag
        from
            transaction_list a left join transaction_type b on a.tradeType = b.id
            left join transaction_amount c on c.id = a.transactionAmount
        <where>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and a.tradeType = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        order by a.tradeId desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询流水总数-->
    <select id="selectTransactionCount" parameterType="transactionList" resultType="java.lang.Long">
        select
            count(*)
        from
        transaction_list a
        <where>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and a.tradeType = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>

    </select>

   <!-- 查询流水明细-->
    <select id="selectTransactionInfoPage" parameterType="transactionInfo" resultType="transactionInfo">
        select
          id,
          tradeId,
          flog,
          currencyNumber,
          currencyDetails
        from
            transaction_info a
        <where>
            <if test = "id != null and id != ''">
                and a.id  = #{id}
            </if>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "flog != null and flog != ''">
                and a.flog  = #{flog}
            </if>
        </where>
        order by a.id desc
        limit #{startLine},#{endLine}
    </select>

    <!-- 查询流水明细总数-->
    <select id="selectTransactionInfoCount" parameterType="transactionInfo" resultType="java.lang.Long">
        select
          count(*)
        from
          transaction_info a
        <where>
            <if test = "id != null and id != ''">
                and a.id  = #{id}
            </if>
            <if test="tradeId != null and tradeId != ''">
                and a.tradeId = #{tradeId}
            </if>
            <if test = "flog != null and flog != ''">
                and a.flog  = #{flog}
            </if>
        </where>
    </select>

    <!--查询详细的流水明细返回的Map-->
    <resultMap id="returnTransactionFinalList" type="transactionInfo">
        <id column="id" property="id"/>
        <result column="flog" property="flog"/>
        <result column="currencyNumber" property="currencyNumber"/>
        <result column="currencyDetails" property="currencyDetails"/>
        <association property="transactionListEntity" javaType="transactionList">
            <id column="tradeId" property="tradeId"/>
            <result column="deposited" property="deposited"/>
            <result column="source" property="source"/>
            <result column="expenditure" property="expenditure"/>
            <result column="tradeDate" property="tradeDate"/>
            <result column="currencyNumber" property="currencyNumber"/>
            <result column="transactionAmount" property="transactionAmount"/>
            <result column="createTime" property="createTime"/>
            <result column="updateTime" property="updateTime"/>
            <association property="tradeTypeEntity" javaType="transactionType">
                <id column="tradeType" property="id"/>
                <result column="transactionType" property="transactionType"/>
            </association>
            <association property="tradeAmountEntity" javaType="transactionAmount">
                <id column="transactionAmount" property="id"/>
                <result column="tag" property="tag"/>
            </association>
        </association>
    </resultMap>

    <!--查询详细的流水明细（明细记录未折叠存放）-->
    <select id="selectTransactionFinalPage" parameterType="transactionList" resultMap="returnTransactionFinalList">
        select
            a.id,
            a.flog,
            a.currencyNumber,
            a.currencyDetails,
            b.tradeId,
            b.deposited,
            b.source,
            b.expenditure,
            b.tradeDate,
            b.currencyNumber,
            b.transactionAmount,
            b.createTime,
            b.updateTime,
            b.tradeType,
            c.transactionType,
            d.tag
        from
            transaction_info a
            left join transaction_list b on a.tradeId = b.tradeId
            left join transaction_type c on b.tradeType = c.id
            left join transaction_amount d on c.id = b.transactionAmount
        <where>
            <if test="tradeId != null and tradeId != ''">
                b.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and b.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and b.tradeType = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(b.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        order by b.tradeId,a.id desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询详细的流水明细总数-->
    <select id="selectTransactionFinalCount" parameterType="transactionList" resultType="java.lang.Long">
        select
          count(*)
        from
        transaction_info a
        left join transaction_list b on a.tradeId = b.tradeId
        <where>
            <if test="tradeId != null and tradeId != ''">
                b.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and b.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != ''">
                and b.tradeType = #{tradeType}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(b.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <!--查询详细的流水明细返回的Map-->
    <resultMap id="returnTransactionDetail" type="transactionList">
        <id column="tradeId" property="tradeId"/>
        <result column="deposited" property="deposited"/>
        <result column="source" property="source"/>
        <result column="expenditure" property="expenditure"/>
        <result column="tradeDate" property="tradeDate"/>
        <result column="billNumber" property="currencyNumber"/>
        <result column="transactionAmount" property="transactionAmount"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="tradeType" property="tradeType"/>
        <association property="tradeTypeEntity" javaType="transactionType">
            <id column="tradeType" property="id"/>
            <result column="transactionType" property="transactionType"/>
        </association>
        <association property="tradeAmountEntity" javaType="transactionAmount">
            <id column="transactionAmount" property="id"/>
            <result column="tag" property="tag"/>
        </association>
        <collection property="infoList" ofType="transactionInfo">
            <id column="id" property="id"/>
            <result column="flog" property="flog"/>
            <result column="tradeId" property="tradeId"/>
            <result column="currencyNumber" property="currencyNumber"/>
            <result column="currencyDetails" property="currencyDetails"/>
        </collection>
    </resultMap>

    <!--查看收支明细（明细记录折叠存）-->
    <select id="selectTransactionDetail" parameterType="transactionList" resultMap="returnTransactionDetail">
        select
            a.tradeId,
            a.deposited,
            a.source,
            a.expenditure,
            a.tradeDate,
            a.currencyNumber as billNumber,
            a.tradeType,
            a.transactionAmount,
            a.createTime,
            a.updateTime,
            b.transactionType,
            c.tag,
            d.id,
            d.flog,
            d.currencyNumber,
            d.currencyDetails
        from
            transaction_list a
            left join transaction_type b on a.tradeType = b.id
            left join transaction_amount c on a.transactionAmount = c.id
            left join  transaction_info d on a.tradeId = d.tradeId
        <where>
            <if test="tradeId != null and tradeId != ''">
                a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != 0">
                and a.tradeType = #{tradeType}
            </if>
            <if test="transactionAmount != null and transactionAmount != 0">
                and a.transactionAmount = #{transactionAmount}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <!--分页查看收支明细（明细记录折叠存）-->
    <select id="selectTransactionDetailPage" parameterType="transactionList" resultMap="returnTransactionDetail">
        select
            a.tradeId,
            a.deposited,
            a.source,
            a.expenditure,
            a.tradeDate,
            a.billNumber,
            a.tradeType,
            a.transactionAmount,
            a.createTime,
            a.updateTime,
            b.transactionType,
            c.tag,
            d.id,
            d.flog,
            d.currencyNumber,
            d.currencyDetails
        from
            (
                select
                    tradeId,
                    deposited,
                    source,
                    expenditure,
                    tradeDate,
                    currencyNumber as billNumber,
                    tradeType,
                    transactionAmount,
                    createTime,
                    updateTime
                from transaction_list
                <where>
                    <if test="tradeId != null and tradeId != ''">
                        tradeId = #{tradeId}
                    </if>
                    <if test = "source != null and source != ''">
                        and source  = #{source}
                    </if>
                    <if test="tradeType != null and tradeType != 0">
                        and tradeType = #{tradeType}
                    </if>
                    <if test="transactionAmount != null and transactionAmount != 0">
                        and transactionAmount = #{transactionAmount}
                    </if>
                    <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                        and date_format(createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
                    </if>
                </where>
                order by tradeId desc
                limit #{startLine},#{endLine}
            ) a
            left join transaction_type b on a.tradeType = b.id
            left join transaction_amount c on a.transactionAmount = c.id
            left join  transaction_info d on a.tradeId = d.tradeId
    </select>

    <!--分页查看收支明细总数（明细记录折叠存）-->
    <select id="selectTransactionDetailCount" parameterType="transactionList" resultType="java.lang.Long">
        select
            count(*)
        from
            transaction_list a
        <where>
            <if test="tradeId != null and tradeId != ''">
                a.tradeId = #{tradeId}
            </if>
            <if test = "source != null and source != ''">
                and a.source  = #{source}
            </if>
            <if test="tradeType != null and tradeType != 0">
                and a.tradeType = #{tradeType}
            </if>
            <if test="transactionAmount != null and transactionAmount != 0">
                and a.transactionAmount = #{transactionAmount}
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>


    <!--按天分页统计财务报表-->
    <select id="selectTransactionForDayPage" parameterType="transactionList" resultType="transactionList">
        SELECT
            a.tradeDate,
            sum(a.deposited) as deposited,
            sum(a.expenditure) as expenditure,
            sum(a.currencyNumber) as currencyNumber
        FROM
            (
                SELECT
                    deposited,
                    expenditure,
                    currencyNumber,
                    DATE_FORMAT(tradeDate, '%Y-%m-%d') AS tradeDate
                FROM
                    transaction_list
                WHERE
                  source = #{source}
                  <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                    and date_format(createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
                  </if>
            ) a
        GROUP BY
            a.tradeDate
        ORDER BY
            a.tradeDate desc
        limit #{startLine},#{endLine}
    </select>

    <!--按天统计财务报表流水总数-->
    <select id="selectTransactionForDayCount" parameterType="transactionList" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            (
                SELECT
                    COUNT(a.tradeDate)
                FROM
                    (
                        SELECT
                            deposited,
                            expenditure,
                            currencyNumber,
                            DATE_FORMAT(tradeDate, '%Y-%m-%d') AS tradeDate
                        FROM
                            transaction_list
                        WHERE
                            source = #{source}
                            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                                and date_format(createTime,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
                            </if>
                    ) a
                GROUP BY
                    a.tradeDate
            ) b
    </select>


    <!--按月分页统计（只统计到上月的最后一天）-->
    <select id="selectTransactionForMonthPage" parameterType="transactionList" resultType="transactionList">
        SELECT
            a.tradeDate,
            sum(a.deposited) as deposited,
            sum(a.expenditure) as expenditure,
            sum(a.currencyNumber) as currencyNumber
        FROM
            (
                SELECT
                    deposited,
                    expenditure,
                    currencyNumber,
                    DATE_FORMAT(tradeDate, '%Y-%m') AS tradeDate
                FROM
                    transaction_list
                WHERE
                    source = #{source}
                    AND tradeDate <![CDATA[ < ]]>  date_sub(
                        date_sub(
                            date_format(now(), '%y-%m-%d'),
                            INTERVAL extract(DAY FROM now()) DAY
                        ),
                        INTERVAL 0 MONTH
                    )
            ) a
        GROUP BY
            a.tradeDate
        ORDER BY
          a.tradeDate desc
        limit #{startLine},#{endLine}
    </select>

    <!--按月统计（只统计到上月的最后一天）总数-->
    <select id="selectTransactionForMonthCount" parameterType="transactionList" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            (
                SELECT
                    a.tradeDate,
                    sum(a.deposited),
                    sum(a.expenditure),
                    sum(a.currencyNumber)
                FROM
                    (
                        SELECT
                            deposited,
                            expenditure,
                            currencyNumber,
                            DATE_FORMAT(tradeDate, '%Y-%m') AS tradeDate
                        FROM
                            transaction_list
                        WHERE
                            source = #{source}
                            AND tradeDate <![CDATA[ < ]]> date_sub(
                                date_sub(
                                    date_format(now(), '%y-%m-%d'),
                                    INTERVAL extract(DAY FROM now()) DAY
                                ),
                                INTERVAL 0 MONTH
                            )
                    ) a
                GROUP BY
                    a.tradeDate
            ) b
    </select>


    <!--按年分页统计（只统计到上一年的最后一天）-->
    <select id="selectTransactionForYearPage" parameterType="transactionList" resultType="transactionList">
        SELECT
            a.tradeDate,
            sum(a.deposited) as deposited,
            sum(a.expenditure) as expenditure,
            sum(a.currencyNumber) as currencyNumber
        FROM
            (
                SELECT
                    deposited,
                    expenditure,
                    currencyNumber,
                    DATE_FORMAT(tradeDate, '%Y') AS tradeDate
                FROM
                    transaction_list
                WHERE
                    source = #{source} AND tradeDate <![CDATA[ < ]]> concat(DATE_FORMAT(date_add(now(),interval -1 year),'%Y'),'-12-31')
            ) a
        GROUP BY
            a.tradeDate
        ORDER BY
            a.tradeDate desc
        limit #{startLine},#{endLine}
    </select>

    <!--按年统计（只统计到上一年的最后一天）总数-->
    <select id="selectTransactionForYearCount" parameterType="transactionList" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            (
                SELECT
                    a.tradeDate,
                    sum(a.deposited),
                    sum(a.expenditure),
                    sum(a.currencyNumber)
                FROM
                    (
                        SELECT
                            deposited,
                            expenditure,
                            currencyNumber,
                            DATE_FORMAT(tradeDate, '%Y') AS tradeDate
                        FROM
                            transaction_list
                        WHERE
                            source = #{source}
                            AND tradeDate <![CDATA[ < ]]> concat(
                                DATE_FORMAT(
                                    date_add(now(), INTERVAL - 1 YEAR),
                                    '%Y'
                                ),
                                '-12-31'
                            )
                    ) a
                GROUP BY
                    a.tradeDate
            ) b
    </select>

</mapper> 