<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
    
<mapper namespace="ac.cn.saya.laboratory.persistent.financial.dao.TransactionWriteDAO">

    <!--写入到财政明细表-->
    <insert id="insertTransactionInfo" useGeneratedKeys="true" keyProperty="id" parameterType="transactionInfo">
        insert into transaction_info(tradeId,flog,currencyNumber,currencyDetails) values(#{tradeId},#{flog},#{currencyNumber},#{currencyDetails})
    </insert>

    <!--写入到财政父表-->
    <insert id="insertTransactionList" useGeneratedKeys="true" keyProperty="tradeId" parameterType="transactionList">
        insert into transaction_list(deposited,source,expenditure,tradeDate,tradeType,currencyNumber,transactionAmount,createTime) values(#{deposited},#{source},#{expenditure},#{tradeDate},#{tradeType},#{currencyNumber},#{transactionAmount},now())
    </insert>

    <!--修改财政明细表-->
    <update id="updateTransactionInfo" parameterType="transactionInfo">
        update transaction_info
        <set>
            <if test="flog != null">
                flog = #{flog},
            </if>
            <if test="currencyNumber != null">
                currencyNumber = #{currencyNumber},
            </if>
            <if test="currencyDetails != null and currencyDetails != ''">
                currencyDetails = #{currencyDetails},
            </if>
        </set>
        where
          id = #{id}
    </update>

    <!--修改财政父表-->
    <update id="updateTransactionList" parameterType="transactionList">
        update transaction_list
        <set>
            <if test="deposited != null">
                deposited = #{deposited},
            </if>
            <if test="expenditure != null">
                expenditure = #{expenditure},
            </if>
            <if test="tradeDate != null and tradeDate != ''">
                tradeDate = #{tradeDate},
            </if>
            <if test="tradeType != null and tradeType != 0">
                tradeType = #{tradeType},
            </if>
            <if test="currencyNumber != null and currencyNumber != ''">
                currencyNumber = #{currencyNumber},
            </if>
            <if test="transactionAmount != null and transactionAmount != 0">
                transactionAmount = #{transactionAmount},
            </if>
                updateTime = now()
        </set>
        where
        tradeId = #{tradeId}
        <if test="source != null and source != ''">
            and source = #{source}
        </if>
    </update>

    <!--删除财政明细表-->
    <delete id="deleteTransactionInfo">
        delete from transaction_info  where id = #{id}
    </delete>

    <!--删除财政父表-->
    <delete id="deleteTransactionList">
        delete from transaction_list
        where
        tradeId = #{tradeId}
        <if test="source != null and source != ''">
            and source = #{source}
        </if>
    </delete>

</mapper> 